@charset "utf-8";
/* CSS Document */

*{
<<<<<<< HEAD
<<<<<<< HEAD
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
=======
	box-sizing:border-box;/*//盒模型为边框盒模型*/
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;/*//低版本火狐和谷歌*/
>>>>>>> ke.wang
=======
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
>>>>>>> xin.Hu
	color:#000;
}
body{
	font-size:12px;
	font-family:Arial,Verdana,Tahoma,"微软雅黑","黑体";
	line-height:120%;
	background:#fff;
	margin:0;
<<<<<<< HEAD
<<<<<<< HEAD
	overflow-x:hidden;
=======
	overflow-x:hidden;/*//水平方向溢出裁切*/
>>>>>>> ke.wang
=======
	overflow-x:hidden;
>>>>>>> xin.Hu
}
p,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,form,table{
	margin:0;
	padding:0;
}
a,img{
	border:none;
}
img{
<<<<<<< HEAD
<<<<<<< HEAD
	vertical-align:middle;
=======
	vertical-align:middle;/*//图片和文字居中对齐*/
>>>>>>> ke.wang
=======
	vertical-align:middle;
>>>>>>> xin.Hu
	border:0;
}
li{
	list-style:none;
}
i,em{
	font-style:normal;
}
a{
	text-decoration:none; 
	color:#000000;
	border:0;
}
a:link{
	text-decoration:none; 
	color:#000000;
}
a:visited{
	text-decoration:none; 
	color:#000000;
}
a:hover{
	text-decoration:none; 
	color:#000000;
}
a:active{
	text-decoration:none; 
	color:#000000;
}
.clearfix:before,.clearfix:after{
	display:table;
	content:"";
}
.clearfix:after{
	clear:both;
}
.clearfix{
<<<<<<< HEAD
<<<<<<< HEAD
	*zoom:1;
}
=======
	zoom:1;
}/*//清除浮动，兼容低版本ie浏览器*/
>>>>>>> ke.wang
=======
	*zoom:1;
}
>>>>>>> xin.Hu
